/* TODO : Find a way to scope these CSS variables to the header */

:root {
  --mobile-nav-init-x: 100vw;
  --logo-init-opacity: 0;
  --logo-init-y: -12px;
}

@media (min-width: 768px) {
  :root {
    --mobile-nav-init-x: 0;
    --logo-init-opacity: 1;
    --logo-init-y: 0;
  }
}
